<header class="landing">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="row">
                <div class="col-4 col-sm-4 col-md-12 col-lg-12 img-profil">
                    <img src="assets/images/monImage.jpg" alt="" />
                    <span class="badge">Open to work!</span>
                </div>
                <div class="col-8 col-sm-8 col-md-12 col-lg-12 infos">
                    <h1 style="font-weight: 600;">Développeur web</h1>
                    <div>
                        <button class="btn btn-secondary mr-1 mb-2">TypeScript</button>
                        <button class="btn btn-secondary mr-1 mb-2">PHP</button>
                        <button class="btn btn-secondary mr-1 mb-2">JavaScript</button>
                        <button class="btn btn-secondary mr-1 mb-2">NodeJS</button>
                        <button class="btn btn-secondary mr-1 mb-2">HTML5/CSS3</button>
                        <button class="btn btn-secondary mr-1 mb-2">Angular</button>
                        <button class="btn btn-secondary mr-1 mb-2">ReactJS</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-12 col-sm-11 col-md-8 col-lg-8 description">
            <div style="text-align: justify;">
                <fa-icon [icon]="faQuoteLeft"></fa-icon>
                <span class="text-header"> Je suis un développeur web junior. J’ai 2 ans d’expériences en tant qu’un développeur web. Je suis à
                    la recherche d’un emploi dans le domaine développement web. Poste idéal : développeur web frontend
                    orienté développeur full-stack dans le futur. Mes technologies souhaités : JavaScript, TypeScript,
                    PHP, NodeJS, Angular, ReactJS. </span>
                <fa-icon [icon]="faQuoteRight"></fa-icon>
            </div>
        </div>
    </div>
    <div class="character">
        <h2>Motivé - Flexibilité - Aimant des défis</h2>
    </div>
    <div class="telecharger-cv">
        <a class="btn btn-header" href="assets/Nguyen-VO_CV.pdf" target="_blank">Télécharger mon CV</a>
    </div>

</header>