<footer class="footer-landing">
    <div class="footer_container">
        <div class="d-flex justify-content-center" style="margin-top: 10px;">
            <div class="d-flex flex-row justify-content-center footer-icons">
                <a class="footer-icon" href="https://www.linkedin.com/in/nguyen-vo-150296/" target="_blank">
                    <fa-icon [icon]="faLinkedin"></fa-icon>
                </a>
                <a class="footer-icon" href="https://github.com/vonguyen150296" target="_blank">
                    <fa-icon [icon]="faGithub"></fa-icon>
                </a>
                <a class="footer-icon" href="mailto:nguyen.vo1502@outlook.com">
                    <fa-icon [icon]="faEnvelope"></fa-icon>
                </a>
            </div>
        </div>
        <div class="copy-right">&copy; 2021 Nguyen VO</div>
    </div>
</footer>