.container {
    margin-top: 86px;
}

.projet-title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.projet-content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.projet-item {
    margin: 5px;
    width: 350px;
}

@media only screen and (max-width: 1000px) {
    .projet-item {
        width: 334px;
    }
}

@media only screen and (max-width: 767px) {
    .projet-item {
        width: calc(100% - 10px);
        min-width: 334px;
    }
}