.experience-card {
    max-width: 100%;
    margin-bottom: 10px;
    animation: fadeEffect 1.5s;
}

.experience-header-image {
    background-size: cover;
}

.experience-button {
    display: flex;
    justify-content: right;
}