/* .container {
} */

.menus {
    animation: fadeEffect 1.5s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.navbar {
    background-image: linear-gradient(-89deg, #0d2336 36%, #00b2ff 127%);
    color: beige;
    height: 66px;
}

.navbar-mobile {
    border: none;
    border-radius: 0px;
    position: fixed;
    z-index: 1100;
    background-color: #fff4f4;
    top: 54px;
    right: 0 !important;
    -webkit-box-shadow: -1px 0px 20px 0px #0000001a;
    box-shadow: -1px 0px 20px 0px #0000001a;
    width: 100%;
    opacity: 1;
    text-align: center;
    overflow: hidden;
}

.navbar-mobile li {
    list-style-type: none;
    padding: 10px 14px;
    border-top: solid 1px grey;
}

.navbar-mobile li a {
    font-size: 17px;
    font-family: "Source Sans Pro";
    font-weight: bold;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.67);
    color: #fff;
}

.navbar-name {
    font-size: 20px;
    font-weight: 600;
    color: beige;
}

#mainNav {
    height: 0;
    transition: height 0.4s ease-out;
    background-image: linear-gradient(-89deg, #0d2336 36%, #00b2ff 127%);
    color: beige;
}

.btn-menu {
    border: 1px solid #4CAF50;
}