/* .container {
} */

.navbar {
    background-image: linear-gradient(-89deg, #0d2336 36%, #00b2ff 127%);
    color: beige;
}

.navbar-mobile {
    border: none;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    border-radius: 0px;
    position: fixed;
    z-index: 1100;
    background-color: #fff4f4;
    top: 54px;
    right: 0 !important;
    -webkit-box-shadow: -1px 0px 20px 0px #0000001a;
    box-shadow: -1px 0px 20px 0px #0000001a;
    width: 100%;
    opacity: 1;
    -webkit-animation: dropdownfaderight 0.4s;
    animation: dropdownfaderight 0.4s;
    text-align: center;
}

.navbar-mobile li {
    list-style-type: none;
    padding: 10px 14px;
    border-bottom: solid 1px grey;
}

.navbar-mobile li a {
    color: #000;
    font-size: 17px;
    font-family: "Source Sans Pro";
    font-weight: bold;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.67);
    color: #fff;
}

.navbar-name {
    font-size: 20px;
    font-weight: 600;
    color: beige;
}