.formation-card {
    max-width: 100%;
    margin-bottom: 10px;
    animation: fadeEffect 1.5s;
}

.formation-header-image {
    background-size: cover;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}